{% extends 'blog/base.html' %}

{% block content %} 
    <div class="col-sm-10">
        <h3 class='my-5'>About page</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo est voluptas molestias quidem suscipit cumque accusantium, illo incidunt, libero iste magni reiciendis id reprehenderit perspiciatis molestiae debitis. Excepturi, aperiam tenetur!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa consequatur hic dolorem obcaecati quam facilis sequi laborum, officia aspernatur? Magni mollitia dignissimos suscipit sequi magnam autem, expedita exercitationem facilis reiciendis?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde saepe incidunt fugit soluta alias commodi, id corrupti deleniti veritatis atque totam assumenda repellendus, vitae aliquam iusto voluptatum illo minus blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, expedita. Unde inventore cum praesentium quibusdam nam in, expedita autem, esse magnam perferendis veniam quae, harum mollitia eum earum quo. Tenetur!</p>
    </div>
    
{% endblock content %}